<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="street"
	useFullscreenExpand="false"
	indexPageName="street"

>
  <image imageURL="images/trav_14.jpg"
	thumbURL="thumbs/trav_14.jpg"
	linkURL="images/trav_14.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\trav_14.jpg">
    <title><![CDATA[trav_14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\1.jpg">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/content.jpg"
	thumbURL="thumbs/content.jpg"
	linkURL="images/content.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\content.jpg">
    <title><![CDATA[content]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street1.jpg"
	thumbURL="thumbs/street1.jpg"
	linkURL="images/street1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street1.jpg">
    <title><![CDATA[street1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street2.jpg"
	thumbURL="thumbs/street2.jpg"
	linkURL="images/street2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street2.jpg">
    <title><![CDATA[street2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street3.jpg"
	thumbURL="thumbs/street3.jpg"
	linkURL="images/street3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street3.jpg">
    <title><![CDATA[street3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street4.jpg"
	thumbURL="thumbs/street4.jpg"
	linkURL="images/street4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street4.jpg">
    <title><![CDATA[street4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street5.jpg"
	thumbURL="thumbs/street5.jpg"
	linkURL="images/street5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street5.jpg">
    <title><![CDATA[street5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street6.jpg"
	thumbURL="thumbs/street6.jpg"
	linkURL="images/street6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\bennavere\Documents\GitHub\bennavere.github.io\photoweb\images\street6.jpg">
    <title><![CDATA[street6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>