@media only screen and (min-width:1011px) and (max-width:1200px) {
	header {
		padding: 2% 3% .5% 3%;
	}
	section#splash div {
		/*margin-right: .5em;
		margin-bottom: .1em;*/
		padding: 20% 0% 0% 3.2%;
	}
	nav {
		margin: 2.2% 2% 0% 0%;
	}
	nav a {
		margin-left: 0em;
		padding: .5em .5em .5em .5em;

	}
	section#about div {
		padding: 12% 0% 1% 3.2%;
	}
	section#porfolio {
		padding: 20% 0% 10% 0%;
	}
	section#portfolio>div {
	padding: 15% 5% 10% 4.5%;
	}	
}
@media only screen and (min-width:768px) and (max-width:1010px) {
	header {
	float: none;
	width: auto;
	padding:  1.5% 30% 1% 3%;	
	}
	nav {
		/*margin: 2.2% 2% 0 0;*/
		display: none;
	}
	/*nav a {
		display: block;
		text-align: center; 
		border:2px;
		border-color: #ffffff;
		border-style: solid;*/
		/*margin-left: 0em;*/
		/*padding: .5em .5em .5em .5em;*/
	}
	section#about div {
		padding: 18% 0% 1% 3.2%;
	}
}