@media only screen and (min-width:1011px) and (max-width:1200px) {
	header {
		padding: 1em 2em .5em 3em;
	}
	section#splash div {
		/*margin-right: .5em;
		margin-bottom: .1em;*/
		padding: 9em 2em .5em 3em;
	}
	nav {
		margin: .75em 1em 0 0;
	}
	nav a {
		margin-left: 0em;
		padding: .5em .5em .5em .5em;
	}
	section#about div {
		padding: 9em 2em .5em 3em;
	}
	section#porfolio {
		padding: 15% 0% 10% 0%;
	}
	section#portfolio>div {
	padding: 10% 5% 5% 4.5%;
	}	
}