* { margin:0;padding:0;box-sizing:border-box; }
body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:16px;
	line-height: 1.2em;	
}
header {
	position:fixed;top:20px;left:20px;right:0;
}
section#splash {
	background-image: url("../images/week3foto2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}
section#splash div {
	padding:300px 0 0 100px;
}
h1 {
<<<<<<< HEAD
	display: block;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
=======
	
>>>>>>> origin/master
	font-family: Arial, Helvetica, Sans-serif;
	color: #FFFFFF;
	font-weight:normal;
	<<<<<<< HEAD
	

	line-height: 2;
	margin: 0px;
	padding: 0px;

=======
>>>>>>> origin/master
}

.container {
	margin:0 auto 0 auto;
	width:72em;
}
