* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-image: url("images/week3foto2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	line-height: 1.2em;	
}
header {
	position:fixed;top:0;left:0;right:0;
}
h1 {
	color: #FF33FF;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight:normal;
	margin: 0px;
	padding: 0px;
}


	

