* { margin:0;padding:0;box-sizing:border-box; }
body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:16px;
	line-height:1.2em;	
}
header {
	position:fixed;top:20px;left:20px;right:0;
}
section#splash {
	background-image: url("../images/week3foto2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}
section#splash div {
	padding:300px 0 0 100px;
}
h1 {
	display: block;
	-webkit-margin-before: em;
	-webkit-margin-after: em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	font-family: Arial, Helvetica, Sans-serif;
	color: #FFFFFF;
	font-weight:normal;
	line-height: 2;
	margin: 0px;
	padding: 0px;
}
div {
	color: #FFFFFF;
}
h2 {
	font-family: Merriweather,serif;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 4em;
	line-height: 1.5em;
	padding: em;
	margin-top: em;
	margin-bottom: em;
}
h2 span {
	font-weight:bold;
}
p {
	line-height: ;
	margin-top: em;
	padding: .2em;
}

.container {
	margin:0 auto 0 auto;
	width:72em;
}
