* { margin:0;padding:0;box-sizing:border-box; }
body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:16px;
}
body#background{
	background: url("../images/1.jpg") no-repeat 45% 45% fixed;
	background-size:cover;
	-moz-background-size:cover;
	-o-background-size:color;
	-webkit-background-size:color;
}
header {
	background: rgba(255, 255, 255, .95);
	height: 6em;
	padding: .1em 6em 0px;
	position: fixed;
	/*z-index: 100;*/
	width: 100%;
}
header img {
	display: block;
	float: left;
	height: 100%;
}
/*nav {
	float: right;
}*/
/*nav a {
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	text-decoration: none;
	padding: 2em 1.5em 0px;
	float: left;
}
nav a:hover {
	color: #fe5607;
}
*/
/*#splash {
	background-image: url("../images/1.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}*/